a {
  color: #fff!important;
  text-decoration: none;
}

a:hover {
  color: #5BFF3B!important;
  text-decoration: none;
}

button:hover span {
  color: #fff;
}

.logo-sm {
      height: 48px;
      width: 48px;
      /*position: relative;*/
      top: -3px;
}
.text-error{
  color: rgb(231, 22, 22)!important;
}
.text-success{
  color: #fff!important;
}
.text-primary {
   color: #fff!important;
}
.text-primary:hover {
  color: rgba(91, 255, 59, 0.85) !important;
}

.text-secundary {
   color: rgba(91, 255, 59, 0.85) !important;
}
.text-secundary:hover{
  color: #fff!important;
}
body.md-default-theme, body, html.md-default-theme, html {
    color: #fff !important; 
    background-color:  #0C2C3F !important; 
    font-size: 0.96rem!important; 
}
  .icono-sm{
      height: 32px;
      width: 32px;
  }


   .icono-1x {
    font-size: 1.5em;
  }
  .icono-2x {
    font-size: 2em;
  }
  .icono-3x {
    font-size: 3em;
  }
  .icono-4x {
    font-size: 4em;
  }
  .icono-5x {
    font-size: 5em;
  }
  .mar-2x {
    margin-right: .2em;
  }
  .mar-3x {
    margin-right: .3em;
  }
  .mar-4x {
    margin-right: .4em;
  }
  .mal-2x {
    margin-left: .2em;
  }
  .mal-3x {
    margin-left: .3em;
  }
  .mal-4x {
    margin-left: .4em;
  }


  .matches-count {
    font-size: 12px;
    margin-left: 4px;
    background-color: rgb(51, 51, 51);
    padding: 2px 5px;
    border-radius: 5px;
}

.count{
      font-size: 12px;
      padding: 2px 5px;
      margin-left: 4px;
      border-radius: 5px;
      background-color: #333;
      float: right;
  }
/* para el panel central */
  .events {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.panel {
    /*background: rgba(0, 0, 0, 0.85);*/
}

.panel > header {
    color: rgba(0, 0, 0, 0.85);
    background: rgba(91, 255, 59, 0.85);

    min-height: 45px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    position: relative;
}

.panel header a.back, .panel header a.reload, .panel header a.program, .panel header a.all {
    float: right;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.85);
}

header h1 {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    margin: 0px;
}

.sub-header {
    color: rgb(255, 255, 255);
    background: rgb(25, 25, 25);
    padding: 4px 15px;
}
.btn-all {background-color: transparent;}
.btn-all span {color: #929292;}
.btn-all:hover { background-color: #5BFF3B;}
.btn-all:hover span {color: #1e1e1e;}

.area {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 10px 5px 46px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(22, 22, 22);
}

.area .area-titulo {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
    margin: 0px;
}

 ul.fl_lt li {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  float: left;
  cursor: pointer;
}

ul.fl_lt li a:link, ul.fl_lt li a:visited {
  padding: 0 14px;
  color: hsla(0,0%,100%,.7);
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  line-height: 35px;
  display: block;
  font-size: 14px;
  border-left: 1px dotted hsla(0,0%,100%,.7);
}
ul.fl_lt li a:hover {
  color: #5BFF3B;
}
.fl_ltmenu_activo {
  color: #5BFF3B;
}
ul.fl_lt li.logo a {
  border-left: none !important;
}
.h2, h2 {
  font-size: 1.5rem!important;
}
.h4, h4 {
  font-size: 1.2rem!important;
}
dl, ol, ul {
  margin-top: 0!important;
  margin-bottom: .1rem!important;
}

.table-options{
  padding: 0px 20px;
  text-align: right;
  position: relative;
}
.table-options button{
  background: transparent;
  border: 0px;
  transition: .2s;
  position: relative;
}
.table-options button:hover{
  background: transparent;
}
.table-options button i{
  font-size: 20px;
}
table.md-table th.md-column,
table.md-table td.md-cell{
  font-size: 14px;
}
table.md-table td.md-cell.actions a{
  font-size: 30px;
}

table td > figure {
  border-radius: 100%;
  height: 68px;
  display: table-cell;
  overflow: hidden;
}
table td > figure > img{
  height: 100%;
  max-width: 68px;
}
table td > figure ~ span{
  display: table-cell;
  padding-left: 30px;
}
.paddingY{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}


.profilePicture{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.profilePicture figure{
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
}
.profilePicture figure img{
  height: 100%;
  width: 100%;
}

.fieldpicture{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.fieldpicture figure{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
}
.fieldpicture figure img{
  height: 100%;
  width: 100%;
}
i.link{
  position: absolute;
  font-size: 26px;
  line-height: 20px;
  right: 0px;
  color: #6d6d6d;
  cursor: pointer;
  box-shadow: 0px 4px 10px #dedede;
  padding: 10px;
  background: #fff;
  border-radius: 100%;
}

.selectize-input{
  box-shadow: none;
  border: 1px solid #e0e0e0;
  border-radius: inherit;
  padding-left: 4px!important;
  margin-top: 10px;
}





#inputFile{
  opacity: 0;
}
.settings md-input-container > md-icon{
  font-size: 34px;
}



.circular img {
  border: 2px solid #526069;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.circular2 img {
border: 1px solid #526069;
margin: 0;
padding: 0;
border-radius: 50%;
overflow: hidden;
width: 96px;
height: 96px;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 10px;
margin-left: 5px;
}

.circular img:hover {
border: 2px solid #0078FF;
}
.spinner-hide .loading{
visibility: visible;
}
.spinner-show .loading{
visibility: hidden;
}
.spinner-img {
width: 40px;
height: 40px;
margin-right: 5px;
}
.md-menu-content-cerop{
padding-top: 0px!important;
}

.account-header {
color: #0078FF;
background-color: rgba(255,97,0,0.87);
}

.account-header-text {
  margin-right: 1px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
}



/*--------   L O G I N  ------------
---------------------------------*/
.topbcgrd_login {background: url(../img/backgr-log.png) no-repeat; background-size: cover; background-position: center;}
.topbcgrd_login-wrap { margin: 0 auto; background-color: #1E1E1E; position: relative;}

.topbcgrd_login-wrap .down-arrow {
  display: inline-block;
  position: relative;
  text-align: center;}
.topbcgrd_login-wrap .down-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid #1B4ABB;
  border-right: 10px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 10px solid transparent;}
.topbcgrd_login-wrap .btn-tab {
  color: #fff !important;
  border-color: #1B4ABB;
  background-color: #1B4ABB;
  width: 333px;
  height: 50px;}
.topbcgrd_login-wrap .btn-tab-lt {background-color: transparent}
.topbcgrd_login-wrap .btn-tab-lt:hover {background-color: #1B4ABB}

.topbcgrd_login-img {
    min-height: 380px;
    background: url(../img/center-log.png) no-repeat; 
    background-size: cover; 
    background-position: center;
    margin: 15px 0;
    margin-bottom: 0; 
    width: 100%;
  }
.topbcgrd_login-content {
    
    margin: 0 auto;
    padding: 60px 0 40px;
    color: #fff;
    font-size: 14px;
    font-family: "ProximaNova-Light", sans-serif;}
.topbcgrd_login input {
    margin-top: 5px; 
    width: 100%;
    background: transparent;
    padding: 6px 0 4px 10px;
    border: none;
    border-bottom: 2px solid #1B4ABB;}
.topbcgrd_login input:visited, input:active, input:focus {border: none; outline: none; border-bottom: 2px solid #1B4ABB;} 

.topbcgrd_login-content .marg {margin-top: 1.5rem; font-size: 16px;}
.topbcgrd_login-wrap button {
    width: 240px;
    height: 60px;
    color: #1E1E1E;
    margin-top: 1.5rem;  }
.topbcgrd_login-wrap button span {font-family: "ProximaNova-Bold", Arial, sans-serif; font-size: 15px; letter-spacing: 0.2em; text-transform: uppercase;}

.radio {position: absolute; z-index: -1; opacity: 0; margin: 10px 0 0 7px;}
.radio + label {position: relative; padding: 0 0 0 35px; cursor: pointer;}
.radio + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #656C73;
  border-radius: 50%;
  background: transparent;}
.radio + label:after {
  content: '';
  position: absolute;
  top: 3.5px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5BFF3B;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: .2s;}
.radio:checked + label:after {opacity: 1;}
.radio:focus + label:before {box-shadow: 0 0 0 3px rgba(91,255,59,.7);}

.topbcgrd_login-wrap .social-enter {
  font-size: 15px;
  letter-spacing: 0.2em;
  font-family: "ProximaNova-Bold", Arial, sans-serif; 
  text-transform: uppercase;
  padding-bottom: 25px;}
.topbcgrd_login-wrap .social-enter h3 {padding-bottom: 20px;}
.topbcgrd_login-wrap .social-enter a {margin: 0 20px;}

.topbcgrd_login-wrap .svg-inline--fa.fa-w-14{font-size: 46px;}


/* Registration*/
.topbcgrd_login-content-reg { width: 90%}

.btn-tab span {
   color: #fff!important;
}



