

.bor {border: 1px solid red;}

html {font-size: 18px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {
    font-family: "ProximaNova-Light", Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color:  #0C2C3F !important;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    overflow-x: hidden}

a {color: #fff; text-decoration: none;}
ul {list-style: none; padding: 0; margin: 0;}

.padnull {padding: 0}
.text-center {text-align: center}
.fl_lt {float: left;}
.fl_rt {float: right;}

button {
  /*width: 135px;*/
  background-color: #5BFF3B;
  border: 1px solid #5BFF3B;}
button span {color: #1e1e1e; text-transform: uppercase; font-size: 12px; letter-spacing: 0.2em; font-family: "ProximaNova-Bold", sans-serif;}
button:hover {background-color: transparent;}
button:hover span {color: #929292;}


/*--------   H E A D E R   ------------
---------------------------------*/
header {background-color: #011021; font-family: ProximaNova-Bold, Arial, sans-serif;}
header ul {padding-top: 1rem; }
header li {display: inline-block; padding-right: 1rem;}
header li a {font-size: 16px;}
header li a:hover {color: #5BFF3B}

header .btn-lgn {background-color: transparent;}
header .btn-lgn span {color: #929292;}
header .btn-lgn:hover { background-color: #5BFF3B;}
header .btn-lgn:hover span {color: #1e1e1e;}


/*--------  C O N T E N T ---------
---------------------------------*/
.content-wrap {width: 100%; margin-top: 1rem;}
.content-wrap .content-main, .content-wrap .sidebar-bet {background-color: #011021;}

/* LEFT - MENU*/
.content-wrap .sidebar-menu {
    margin: 0;
    padding: 0;
    position: relative;
    border: none !important;
    box-shadow: none;}
.content-wrap .sidebar-menu li {
    margin: 6px 0;
    padding: 5px;
    background: rgba(1, 16, 33, .5);
    border-radius: 3px;
    transition: all .3s;}


.content-wrap .sidebar-menu a, .sidebar-menu a:link, .sidebar-menu a:visited {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;}


.content-wrap .sidebar-menu li span {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    vertical-align: middle;
    /*width: 100%;*/

}

.content-wrap .sidebar-menu li span h2{
        display: inline-block;
        height: 35px;
        line-height: 35px;
        padding-left: 8px;
        vertical-align: middle;
        font-family: ProximaNova-Bold;   
 }

.content-wrap .sidebar-menu li:hover {background-color: #5BFF3B}
.content-wrap .sidebar-menu li:hover span {color: #1e1e1e; font-family: ProximaNova-Bold;}
.content-wrap .sidebar-menu li:hover span h2 {color: #1e1e1e; font-family: ProximaNova-Bold;}


.content-wrap .sidebar-menu .icon_size {height: 2.5em; margin-right: 10px}



/* CENTRAL - MENU*/
.content-wrap .content-main, .content-wrap .sidebar-bet {padding: .3rem 1rem; margin-top: 6px;}
.content-wrap .content-main h2, .content-wrap .sidebar-bet h2  {
    font-family: ProximaNova-Bold, Arial, sans-serif; 
    margin: 0; 
    border-bottom: 1px solid #5BFF3B}




/* RIGHT - MENU*/
.content-text, .content-title {background: rgba(1, 16, 33, .5); padding: .3rem 0;}

.content-title {padding: 0}
.content-title-country {background-color: #011021;}
.content-title-country h2 {margin: 5px}

.content-text .cell h4 {font-family: ProximaNova-Bold; margin: 0; }
.content-text .cell:hover {background-color: #5BFF3B; color: #1e1e1e; font-family: ProximaNova-Bold; }


/*--------    BLOCK ABOUT   ----------
---------------------------------*/


/*-------- BLOCK CONTACT -----------
--------------------------------*/


/*--------   FOOTER     ------------
---------------------------------*/
