<header class="clearfix"   >
    <i class="icono-2x iconsport {{ record_selected.icono }}"></i> <h1 class="mal-4x"  ng-bind="record_selected.description" ></h1>
    <a ng-click="getGame(record_selected,1)"  href="javascript:void(0)" class="reload tit-events link_cab"  title="Reload"   ><i class="icono-1x fas fa-sync-alt mar-3x"></i>  </a>
    <a ng-click="getGame(record_selected,2)"  href="javascript:void(0)" class="back mar-2x tit-events link_cab"  ng-bind-html="tit_filter_sel" > </a>
</header>
   <div class="sub-header">
        <button ng-click="getGame(record_selected,1)"  type="button" class="btn btn-sm" ng-class="class_filter_by_today" > <span ng-bind-html="'tit_hoy' | translate" ></span>  </button>
        <button ng-click="getGame(record_selected,2)"  type="button" class="btn btn-sm" ng-class="class_filter_by_all" >  <span ng-bind-html="'tit_todos' | translate" ></span> </button>
   </div>
    <div class="" ng-repeat="evento in ls_events" ng-if="!pb_events" >
            <div ng-show="evento.competitions.length>0  " class="content-main area">
                <h2 class="area-titulo text-center" ng-bind="evento.description" > </h2>	
            </div>
            <div class=""  ng-repeat="comp in evento.competitions"  >
                    <div class="col-lg-12 content-title content-title-country"  ng-show="comp.journeys.length>0  " >
                        <div class="col-lg-8 cell "><h2 class="" ng-bind="comp.description"  ></h2> </div>
                        <div class="col-lg-1 cell "><h4 class="text-center">1</h4></div>
                        <div class="col-lg-2 cell "><h4 class="text-center">X</h4></div>
                        <div class="col-lg-1 cell "><h4 class="text-center">2</h4></div>
                    </div>
                    <div class="" ng-repeat="jorn in comp.journeys" >	
                        <div class="col-lg-12 content-title-jornada cell"  ng-show="jorn.matches.length>0 " >
                            <h2 class="" ng-bind="jorn.description" ></h2>
                        </div>
                        <div class="col-lg-12 content-text"  ng-repeat="mat in jorn.matches"  >
                            <div class="col-lg-2 " ng-bind-html="mat.start | amUtc | amLocal | amDateFormat:'DD MMMM HH:mm'"  ></div>
                            <a href="javascript:void(0)" ng-click="getMatchDetails(mat,jorn.description,comp.description)" ><div class="col-lg-6 cell text-white"> <span class="text-capitalize" ng-bind-html="mat.matchdetails[0].team.description" ></span>  vs <span class="text-capitalize" ng-bind-html="mat.matchdetails[1].team.description" ></span></div></a>
                            <a href="javascript:void(0)"><div class="col-lg-1 cell text-center text-white"  ng-bind="mat.one"  ng-click="betmath(mat,1 )" ></div></a>
                            <a href="javascript:void(0)"><div class="col-lg-2 cell text-center text-white "  ng-bind="mat.draw" ng-click="betmath(mat,0 )"  ></div></a>
                            <a href="javascript:void(0)"><div class="col-lg-1 cell text-center text-white"  ng-bind="mat.two"  ng-click="betmath(mat,2 )" ></div></a>
                        </div>
                    </div>	
            </div>	
    </div>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="pb_events" >
         <md-progress-circular md-mode="indeterminate"   ></md-progress-circular>
    </div>	