<form name="betForm"  ng-init="getTotal()"  class="form-horizontal "  ng-submit="placebet()"   ng-show="$root.list_tmp_bets.length>0" >
	<div class="sub-header">
		<div class="row"> 
			<div class="col-md-3 text-center ">
				<button ng-click="setTypeBet(1)"  type="button" class="btn btn-sm " ng-class="class_filter_by_t1" > <span class="tabtypebet text-center  " ng-bind-html="'field_bet_simple' | translate" ></span>  </button>
			</div>	
			<div class="col-md-5 text-center">	
				<button ng-click="setTypeBet(2)"  type="button" class="btn btn-sm " ng-class="class_filter_by_t2" >  <span class="tabtypebet text-center " ng-bind-html="'field_bet_acumulado' | translate" ></span> </button>
			</div>	
			<div class="col-md-4 text-center">	
				<button ng-click="setTypeBet(3)"  type="button" class="btn btn-sm " ng-class="class_filter_by_t3" >  <span class="tabtypebet text-center " ng-bind-html="'field_bet_sistema' | translate" ></span> </button>
			</div>
		</div>  	  	
	</div>
    <md-card class="bet-card" ng-repeat="item in $root.list_tmp_bets"  >
		<div class="row"> 
			<div class="col-md-10">
				<span ng-bind="item.bet_match"  class="bet-title-match text-center font-sm"></span>
			</div> 
			<div class="col-md-2 text-right"  > 
				<a ng-click="cancel_bet($index)">
					<i class="fas fa-times-circle text-red"></i>
					<md-tooltip  md-direction="bottom">{{ 'bet_cancel' | translate }}</md-tooltip>
				</a>    
			</div>
		</div>  
		<div class="row"> 
			<div class="col-md-12 ">
				<span  ng-switch on="item.bet_operacion"  > 
					<div class="animate-switch font-sm" ng-switch-when="bet_1">{{ 'mnu_tit_bet1' | translate }} </div> 
					<div class="animate-switch font-sm" ng-switch-when="bet_x">{{ 'mnu_tit_betx' | translate }} </div>
					<div class="animate-switch font-sm" ng-switch-when="bet_2">{{ 'mnu_tit_bet2' | translate }} </div>
				</span>
			</div>	
		</div> 
		<div class="row marbt-8x"> 
			<div class="col-md-8">
				<span ng-bind="item.bet_team_des"  class="bet-title-team font-sm">  </span>
			</div>
			<div class="col-md-4">
				<span ng-bind="item.bet_st"  class="bet-title-std font-sm">  </span>
			</div>	
		</div>		
		<div class="row" ng-show="inputitembet_visible " > 
			<div class="col-md-5">
				<input class ="bet-input-amount font-sm"  ng-model="item.monto"  type="number" step="0.01"   required ng-change="getTotal()"  >
			</div>  
			<div class="col-md-7 ">
				<span  class="bet-title-return font-sm">{{ item.monto *  item.bet_st | number:2 }}	  </span>
			</div>		
		</div>
		<div class="row"  > 
			<div class="col-md-12">
				<div class="font-sm" ng-show="showerror" >
					{{ deserr }}
				</div>
			</div>	
		</div> 
	</md-card>
	<div class="row" ng-show="inputbet_visible" > 
		<div class="col-md-5">
			<input class ="bet-input-amount font-sm"  ng-model="formdata.ttmonto" name="ttmonto" type="number" step="0.01"   required  ng-change="getTotal()" >
		</div>  
		<div class="col-md-7 ">
			<span  class="bet-title-return font-sm"> {{ total_odds | number:2 }}	  </span>
		</div>		
	</div>
	<div class="row bet-totals">
		<div class="col-md-12 ">
			<span  class="bet-totals-item">
				{{ 'field_total_stake' | translate }} 	{{ total_stake | number:2  }}	
			</span>	
		</div>
		<div class="col-md-12 ">
			<span  class="bet-totals-item">
				{{ 'field_total_return' | translate }} 	{{ total_retr | number:2  }}
			</span>	
		</div>				
	</div>		
	<div class="row" ng-if="isAuthenticated()"  > 			
		<div class="col-md-12 text-center" ng-if="!pb_placebet" >
			<button type="submit" ng-disabled="betForm.$invalid"  ><span>{{ 'field_capuesta' | translate }}</span></button>
		</div>
	</div>
	<div layout="row" layout-sm="column" layout-align="space-around" ng-if="pb_placebet" >
		<md-progress-circular md-mode="indeterminate" ></md-progress-circular>
	</div>	
</form>	
<div class="row" ng-if="!isAuthenticated()"  > 			
	<div class="col-md-12 text-center" ng-show="$root.list_tmp_bets.length>0" >
		<button class="btn-lgn" ng-click="showLogin()"  ><span ng-bind-html="'logintoplacebet' | translate"   >  </span></button>
	</div>
</div>
<div class="row" ng-if="$root.isListEmpty($root.list_tmp_bets)" > 			
	<div class="col-md-12 text-center">
		<br/>
		<span ng-bind-html="'tit_nobet_1' | translate"   >  </span>
		<br/><br/>
	</div>
</div>