<md-card ng-controller="WalletsCtrl"  ng-init="getList()">
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<h2>{{ 'mnu_balance' | translate }}</h2>
		</div>
	</md-toolbar>
	
	<md-table-container>
		<div class="table-options">
			<button ng-click="getList()"   >
				<i class="icono-1x fas fa-redo-alt"></i>
			</button>
		</div>
		<div class="to-pdf" ng-show="list.length>0 "  >
			<table md-table ng-model="selected" md-progress="promise" >
				<thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="getList">
					<tr md-row>
						<th width="20%" md-column md-order-by="typecoin_id"><span>{{ 'field_typecoin' | translate }}</span></th>
						<th width="40%" md-column md-order-by="address"><span>{{ 'field_address' | translate }}</span></th>
						<th width="15%" md-column md-order-by="total"><span>{{ 'field_total' | translate }}</span></th>
						<th width="15%" md-column md-order-by="available"><span>{{ 'field_available' | translate }}</span></th>
						<th width="10%" md-column><span>{{ 'action' | translate }}</span></th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-select="item" md-select-id="id"  md-auto-select="options.autoSelect" ng-repeat="item in list | orderBy: query.order ">
						<td width="20%" class="paddingY"  md-cell>
							<figure>
								<img ng-src="{{item.typecoin.logo}}" alt="">
							</figure>
							<span>{{item.typecoin.description}}</span>
						</td>
						<td width="40%" md-cell>{{item.address}}</td>
						<td width="15%" md-cell>{{item.total}}</td>
						<td width="15%" md-cell>{{item.available}}</td>
						<td width="10%" md-cell class="actions">
							<a ng-click="walletDeposit($event, item.id)">
								<i class="fas fa-cart-plus"></i>
								<md-tooltip md-direction="bottom">{{ 'field_depositar' | translate }}</md-tooltip>
							</a> 
							<a ng-click="walletCashout($event, item.id)">
								<i class="fas fa-share-square"></i>
								<md-tooltip md-direction="bottom">{{ 'field_sacar' | translate }}</md-tooltip>
							</a>  	
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</md-table-container>
	<div class="container"  ng-show="ls_typecoins.length>0 " >
		<div class="row">
			<div class="col-md-4">
				<md-menu md-position-mode="target-right bottom" >
					<md-button class="md-icon-button dropdown-toggle notoggle font-link" ng-click="openMenu($mdMenu, $event)">
						<i class="text-primary fas fa-dollar-sign"></i><span class="text-primary"> {{ 'field_addtypecoin' | translate }} </span>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item  ng-repeat="item in ls_typecoins"  >
							<md-button ng-click="add(item.id)" >
								<img class="icono-sm"  ng-src="{{item.logo}} " />
								<span>{{item.description}}</span>
							</md-button>
						</md-menu-item>
						
					</md-menu-content>
				</md-menu>
			</div>	
			<div class="col-md-8">
				<div ng-show="showerror"  >
					<span class="text-error"> {{ deserr }}  </span>
				</div>
			</div>
		</div>
	</div>

</md-card>